<h1>ジャンル編集</h1>


<%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>

<table class="table">
  <tbody>
       <tr>
         <td>ジャンル名</td>
         <td><%= f.text_field :name %></td>
         <td><%= f.submit"変更を保存", class:"btn btn-success" %></td>
       </tr>
  </tbody>
</table>
<% end %>
