<p id="notice"></p>
<h4>注文情報確認</h4>

<table class="table table-borderd" >
  <thead class="table-secondary">
    <th >商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </thead>
  
  <tbody>
    <% @order.each do |order| %>
    <tr>
      <td><%= cart_item.item.name %></td>
      <td><%= cart_item.item.with_tax_price %></td>
      <td><%= cart_item.amount %></td>
      <td><%= cart_item.subtotal %></td>
      <% @total_price += cart_item.subtotal %>
    </tr>
    <% end %>